/* Tour page styles */

caption {
	font-size: 1.2rem;
	font-weight: bold;
}

table {
  font-family: 'Open Sans', sans-serif;
}

.heading{
  display: inline-block;
  margin: 0;
}

.pick{
  width: 40px;
  height: 0%;
  padding: 10px;
}

@media screen and (min-width: 840px) {
	table {
		border: none;
	    border-spacing: 20px;
	    margin-left: 10%;
	}

	th {
		border-bottom: 2px solid #781125;
	}
}
